/.idea
/build
/.gradle

############## Frontend ##############
# Logs
/rcls-frontend/logs
/rcls-frontend/*.log
/rcls-frontend/npm-debug.log*
/rcls-frontend/yarn-debug.log*
/rcls-frontend/yarn-error.log*
/rcls-frontend/pnpm-debug.log*
/rcls-frontend/lerna-debug.log*

/rcls-frontend/node_modules
/rcls-frontend/dist
/rcls-frontend/dist-ssr
/rcls-frontend/*.local

# Editor directories and files
/rcls-frontend/.vscode/*
!/rcls-frontend/.vscode/extensions.json
/rcls-frontend/.idea
/rcls-frontend/.DS_Store
/rcls-frontend/*.suo
/rcls-frontend/*.ntvs*
/rcls-frontend/*.njsproj
/rcls-frontend/*.sln
/rcls-frontend/*.sw?
#####################################

############## Backend ##############
/rcls-backend/HELP.md
/rcls-backend/.gitignore
/rcls-backend/.gradle
/rcls-backend/gradle
/rcls-backend/build/

### IntelliJ IDEA ###
/rcls-backend/.idea
/rcls-backend/*.iws
/rcls-backend/*.iml
/rcls-backend/*.ipr
/rcls-backend/out/

### VS Code ###
/rcls-backend/.vscode/
#####################################

############## Riot Client API ##############
/rcls-riot-api-client/.github
/rcls-riot-api-client/.openapi-generator
/rcls-riot-api-client/.gradle
rcls-riot-api-client/api/openapi.yaml
/rcls-riot-api-client/gradle
rcls-riot-api-client/gradle.properties
/rcls-riot-api-client/gradlew
/rcls-riot-api-client/gradlew.bat
/rcls-riot-api-client/src
/rcls-riot-api-client/.gitignore
/rcls-riot-api-client/build
/rcls-riot-api-client/build.gradle
/rcls-riot-api-client/README.md
/rcls-riot-api-client/.travis.yml
/rcls-riot-api-client/build.sbt
/rcls-riot-api-client/git_push.sh
/rcls-riot-api-client/pom.xml