spring:
  application:
    name: "RCLS"

  profiles:
    default: "prod"

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

management:
  endpoints:
    web:
      exposure:
        include: "health"

logging:
  level:
    com.julianw03.rcls: INFO

feign:
  httpclient:
    disableSslValidation: true

server:
  ssl:
    key-store: "classpath:keystore.p12"
    key-store-password: "changeit"
    key-store-type: "PKCS12"
    key-alias: "tomcat"
  port: 443

springdoc:
  swagger-ui:
    path: "/api-docs"
    operations-sorter: "method"

custom:
  configurations:
    proxy:
      target:
        url: "hcaptcha.com"
      overrides:
        user-agent: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) riot-client-ux/116.0.0 Chrome/108.0.5359.215 Electron/22.3.27 Safari/537.36"
    riotclient-service:
      connection-init:
        rest-connect-attempts: 20
        rest-connect-delay-ms: 200
        rest-connect-wait-for-max-ms: 10000
      connection-strategy:
        connect-timeout-ms: 10_000
        strategy: process_takeover
    path-provider:
      path-entries:
        macos:
          executables:
            game-executables:
              league-of-legends: "LeagueClient.app/Contents/MacOS/LeagueClient"
              legends-of-runeterra:
              valorant:
              two-xko:
            riot-client: "Riot Client.app/Contents/MacOs/Riot Client"
            riot-client-services: "Riot Client.app/Contents/MacOS/RiotClientServices"
          program-files-path: "/Users/Shared"
          config-base-path: "~/Library/Application Support"
          riot-games-folder-name: "Riot Games"
          riot-client-installs-file: "RiotClientInstalls.json"
          riot-client-lock-file-location: "/Users/Shared/Riot Games/Metadata/lockfile"
        windows:
          executables:
            game-executables:
              league_of_legends: "LeagueClient.exe"
              legends_of_runeterra: "LoR.exe"
              valorant: "VALORANT-Win64-Shipping.exe"
              two-xko: "Lion-Win64-Shipping.exe"
            riot_client: "Riot Client.exe"
            riot_client_services: "RiotClientServices.exe"
          program-files-path: "${ALLUSERSPROFILE}"
          config-base-path: "${LOCALAPPDATA}"
          riot-games-folder-name: "Riot Games"
          riot-client-installs-file: "RiotClientInstalls.json"
          riot-client-lock-file-location: "${LOCALAPPDATA}/Riot Games/Riot Client/Config/lockfile"
      shared-entries:
        application-folder-name: "RCLS"
        plugin-folder-names:
          user_background_module: "UserBackground"
    operating-system-provider:
      os-override:
    publishing:
      publishing-format: msgpack